<div class="content">
  <div class="container-fluid">
    <div class="row" style="padding:50px 0">
        <div class="col-lg-3 col-sm-6">
            <div class="info_box_var_1 box_bg_a">
                <div class="info_box_body">
                    <span class="info_box_icon icon_group"></span>
                    <span class="countUpMe" data-endVal="1342">1342</span>
                </div>
                <div class="info_box_footer">
                    Users
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="info_box_var_1 box_bg_b">
                <div class="info_box_body">
                    <span class="info_box_icon icon_cart_alt"></span>
                    <span class="countUpMe" data-endVal="57">57</span>
                </div>
                <div class="info_box_footer">
                    Members
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="info_box_var_1 box_bg_c">
                <div class="info_box_body">
                    <span class="info_box_icon icon_wallet"></span>
                    <span class="countUpMe" data-endVal="13578">13 578</span>
                </div>
                <div class="info_box_footer">
                    Orders
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="info_box_var_1 box_bg_d">
                <div class="info_box_body">
                    <span class="info_box_icon icon_mail_alt"></span>
                    <span class="countUpMe" data-endVal="531">1000</span>% +++
                </div>
                <div class="info_box_footer">
                    RADIONtECH DEVELOPER'S SKILL
                </div>
            </div>
        </div>
    </div>
    <div class="row row_full mHeight">
        <div class="col-lg-4">
            <div class="easy_chart_wrapper mHeight-item">
                <div class="easy_chart_a easy_chart" data-percent="86">
                    <span class="easy_chart_percent"></span>
                </div>
                <div class="easy_chart_info">
                    <h4 class="easy_chart_heading">Orders completed</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam doloremque mollitia possimus tempora&hellip; <a href="#">more</a></p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="easy_chart_wrapper mHeight-item">
                <div class="easy_chart_b easy_chart" data-percent="40">
                    <span class="easy_chart_percent">136</span>
                </div>
                <div class="easy_chart_info">
                    <h4 class="easy_chart_heading">Confirmed registrations</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam doloremque mollitia possimus tempora&hellip; <a href="#">more</a></p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="easy_chart_wrapper mHeight-item">
                <div class="easy_chart_c easy_chart" data-percent="72">
                    <span class="easy_chart_icon icon_chat_alt"></span>
                </div>
                <div class="easy_chart_info">
                    <h4 class="easy_chart_heading">New comments</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam doloremque mollitia possimus tempora&hellip; <a href="#">more</a></p>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
