<div class="content">
  <div class="container-fluid">
    <div class="row">
        <div class="col-lg-3 col-sm-6">
            <div class="info_box_var_1 box_bg_a">
                <div class="info_box_body">
                    <span class="info_box_icon icon_group"></span>
                    <span class="user" data-endVal="1342"></span>
                </div>
                <div class="info_box_footer">
                    Users
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="info_box_var_1 box_bg_b" onclick="location.href='http://localhost:8080/arthentic/#/datamember';">
                <div class="info_box_body">
                    <span class="info_box_icon icon_cart_alt"></span>
                    <span class="member" data-endVal="57"></span>
                </div>
                <div class="info_box_footer">
                    Members
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="info_box_var_1 box_bg_c" onclick="location.href='http://localhost:8080/arthentic/#/menu';">
                <div class="info_box_body">
                    <span class="info_box_icon icon_wallet"></span>
                    <span class="order" data-endVal="13578"></span>
                </div>
                <div class="info_box_footer">
                    Menu
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <p>
            with:
          </p>
            <img src="assets/img/kirim.jpg" width="320px" alt="" />
        </div>
    </div>
    <div class="row row_full mHeight">
        <div class="col-lg-4">
            <div class="easy_chart_wrapper mHeight-item">
                <div class="easy_chart_a easy_chart" data-percent="86">
                    <span class="easy_chart_percent order" style="font-size:50px"></span>
                </div>
                <div class="easy_chart_info">
                    <h4 class="easy_chart_heading">Orders completed</h4>
                    <p>This is the amount of order you serve since the begining of the time, come on keep it up!! and make your self the best cafe your customer ever dream of. <br><br> -. radiontech developers</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="easy_chart_wrapper mHeight-item">
                <div class="easy_chart_b easy_chart" data-percent="40">
                    <span class="easy_chart_percent" style="font-size:50px">0</span>
                </div>
                <div class="easy_chart_info">
                    <h4 class="easy_chart_heading">Unsatisfied Customer</h4>
                    <p>Dont you guys dare to make this zero number above increasing even to one number, all customer are special, all customer are the king. respect them, give em a big smile and say "WELCOME TO ARTHENTIC CAFE HOW CAN I HELP YOU ?"</a></p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="easy_chart_wrapper mHeight-item">
                <div class="easy_chart_c easy_chart" data-percent="72">
                    <span class="easy_chart_icon icon_chat_alt"></span>
                </div>
                <div class="easy_chart_info">
                    <h4 class="easy_chart_heading">Who made this application ?</h4>
                    <p>it is one and only software house who has a lot of potential and skill with their finger, brain, a cup of coffee and a lil bit smile on their faces and voila! amazing apps is comming to your way<br> visit: <a href="http://www.radiontech.net">http://www.radiontech.net</a></p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="easy_chart_wrapper mHeight-item">
                <div class="easy_chart_a easy_chart" data-percent="86">
                    <!-- <span class="easy_chart_percent order" style="font-size:50px"></span> -->
                </div>
                <div class="easy_chart_info">
                    <h4 class="easy_chart_heading">Menu Rules</h4>
                    <ul>
                      <li>Insert Menu, <br> jika dan hanya jika menu tersebut telah dibuat dan stok telah terpakai, <br>Nama yang terdapat pada komposisi harus sesuai dengan yang ada pada stock</li>
                      <li>Delete Menu, <br> fungsi ini tidak akan mengurangi stok</li>
                      <li>Harus berhati-hati saat menambahkan menu</li>
                      <li>Update Menu, <br> fungsi ini hanya untuk stok dan harga</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="easy_chart_wrapper mHeight-item">
                <div class="easy_chart_b easy_chart" data-percent="40">
                    <!-- <span class="easy_chart_percent" style="font-size:50px">0</span> -->
                </div>
                <div class="easy_chart_info">
                    <h4 class="easy_chart_heading">Reports Rules</h4>
                    <ul>
                      <li>Daily Reports, <br> pilih tanggal untuk laporan harian tanggal tersebut</li>
                      <li>Weekly Reports, <br> pilih startdate untuk tanggal dimulai dan enddate untuk tanggal berakhir untuk mendapatkan laporan minggu tersebut</li>
                      <li>Monthly Reports, <br> pilih tanggal mana saja pada bulan yang ingin dilihat laporan bulan tersebut</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="easy_chart_wrapper mHeight-item">
                <div class="easy_chart_c easy_chart" data-percent="72">
                    <span class="easy_chart_icon icon_chat_alt"></span>
                </div>
                <div class="easy_chart_info">
                    <h4 class="easy_chart_heading">Order Rules</h4>
                    <ul>
                      <li>Masukan Id Menu untuk mendapatkan nama menu dan harga yang tertera sesuai pada Menu</li>
                      <li>Tombol Add+ digunakan untuk menambah pesanan baru</li>
                      <li>Tombol Save digunakan jika pesanan yang tertera tidak akan berubah lagi</li>
                      <li>Tombol Print Invoice digunakan untuk mencetak struk</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
  </div>

  <script type="text/javascript">
    $('.bars').removeClass('hidden');
  </script>
</div>
