<div class="col-xs-12">
  <table border="0">
    <thead>
      <tr>
        <th colspan="2"><img src="assets/img/coffee_logo.png" width="50px" height="50px" alt="" /></th>
      </tr>
      <tr>
        <th colspan="2">Arthentic Coffe Shop</th>
      </tr>
      <tr>
        <th colspan="2">Jl. Pandu Raya no.107,  Bogor Utara</th>
      </tr>
      <tr>
        <th colspan="2">Tel : (021)-1234567</th>
      </tr>
      <tr>
        <th colspan="2">Email : arthentic@coffe.com</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td colspan="2"><hr style="border-top: dotted 1px;" /></td>
      </tr>
      <tr ng-repeat="inv in invoice">
          <td class="text-left">
            <span ng-model="inv.name">{{ inv.name }}</span>
            <br>
            <span ng-model="inv.kuantitas">{{ inv.kuantitas }}</span> x
            <br>
          </td>
          <td class="text-right">
            <span ng-model="inv.hargaSatuan">{{ inv.hargaSatuan*inv.kuantitas | number:2 }}</span>
            <br>
            - <span ng-model="inv.dicount">{{ (inv.discount/100)*(inv.hargaSatuan*inv.kuantitas) | number :2 }}</span>
            <br>
            <!-- <span ng-model="inv.totalSatuan">{{ inv.totalSatuan | number:2 }}</span> -->
          </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="2"><hr style="border-top: dotted 1px;"></td>
      </tr>
      <tr>
        <td class="text-right text-muted">Subtotal</td>
        <td class="text-right">Rp. {{ SubTotal() | number:2 }}</td>
      </tr>
      <tr>
        <td class="text-right text-muted">Tax</td>
        <td class="text-right">Rp. {{ 0.1*SubTotal() | number:2 }}</td>
      </tr>
      <tr>
        <td class="text-right text-muted">Services</td>
        <td class="text-right">Rp. {{ 0.05*SubTotal() | number:2 }}</td>
      </tr>
      <tr>
        <td class="text-right text-muted">GrandTotal</td>
        <td class="text-right text-success">Rp. {{ 1.15*SubTotal() | number:2 }}</td>
      </tr>
      <tr>
        <td class="text-right text-muted">Paid</td>
        <td class="text-right text-success">
          <input type="number" ng-model="inv.total" id="total" width="10px" class="text-right total form-control bfh-number" placeholder="0"/>
        </td>
      </tr>
      <tr>
        <td class="text-right text-muted">ChangeDue</td>
        <td class="text-right text-success">
          <span>Rp. {{ (inv.total - (1.15*SubTotal())) | number:2 }}</span>
        </td>
      </tr>
      <tr>
        <td colspan="2"><hr style="border-top: dotted 1px;"></td>
      </tr>
      <tr>
        <td class="text-right"><a class="btn btn-xs btn-danger btn-outline" id="deleteButton" ng-click="deleteInvoice()">DELETE</a></td>
        <td class="text-right"><a class="btn btn-xs btn-default btn-outline" id="printButton" ng-click="printInvoice()">PRINT</a></td>
      </tr>
    </tfoot>
  </table>
</div>
