<div class='content' style="background-color:white;color:white;overflow-y: hidden;">
  <div class="container-fluid">
    <div class="row">
      <!-- LOGIN FORM -->
        <div class="text-center" style="padding:50px 0">
        	<div class="logo">WELCOME BACK, THIS IS <br> <span style="color:black">RADICAL</span> <span style="color:orange">TECHNOLOGY</span> SYSTEM</div>

        	<!-- Main Form -->
        	<div class="login-form-1">
        		<form id="login-form" class="text-left">
        			<div class="login-form-main-message"></div>
        			<div class="main-login-form">
        				<div class="login-group">
        					<div class="form-group">
        						<label for="lg_username" class="sr-only">Username</label>
        						<input type="text" class="form-control" id="lg_username" name="lg_username" placeholder="username" ng-model="form.username">
        					</div>
        					<div class="form-group">
        						<label for="lg_password" class="sr-only">Password</label>
        						<input type="password" class="form-control" id="lg_password" name="lg_password" placeholder="password" ng-model="form.password">
        					</div>
        					<!-- <div class="form-group login-group-checkbox">
        						<input type="checkbox" id="lg_remember" name="lg_remember">
        						<label for="lg_remember">remember</label>
        					</div> -->
        				</div>
        				<button type="submit" class="login-button" ng-click ="userlogin();updateStatus()"><i class="fa fa-chevron-right"></i></button>
        			</div>
        			<div class="etc-login-form">
        				<p>forgot your password? <a href="#/register/#forgot-password-form"><span style="color:orange !important;">click here</span></a></p>
        				<p>new user? <a href="#/register"><span style="color:orange !important;">create new account</span></a></p>
        			</div>
        		</form>
        	</div>
        	<!-- end:Main Form -->

        </div>

    </div>
  </div>
</div>
