<div class='content'>
  <div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
          <h1>ORDER</h1>
            <div class="content">
              <div class="col-md-12">
                <form>
                <p class=" pull-right">Date : <span class="todaysdate"></span></p>
                <table class="table table-striped table-hover table-responsive">
                  <thead>
                    <tr>
                      <th>ID Order</th>
                      <th>ID Menu</th>
                      <th>Menu Name</th>
                      <th>Price</th>
                      <th>Quantity</th>
                      <th>Discount(%)</th>
                      <th>Total Satuan</th>
                      <th>Remove</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="article in articles | filter:query" class="menu-data">
                      <td>
                        <input type="number" ng-model="article.id" id="idorder" class="idorder form-control bfh-number" placeholder="x" min=0 value="{{ getIdOrd() }}" readonly>
                      </td>
                      <td>
                        <input type="text" ng-model="article.reference" id="idmenu" class="idmenu form-control bfh-number" placeholder="MNx">
                      </td>
                      <td>
                        <input type="text" ng-model="article.titre" id="menuname"class="menuname form-control" placeholder="Name" value="{{ getMenuById() }}" readonly>
                      </td>
                      <td>
                        <input type="number" ng-model="article.price" id="price" class="price form-control bfh-number" placeholder="0" value="{{ getMenuById() }}" readonly>
                      </td>
                      <td>
                        <input type="number" ng-model="article.quantity" id="quantity" class="quantity form-control bfh-number" placeholder="0" min=0>
                      </td>
                      <td>
                        <input type="number" ng-model="article.discount" id="discount" class="discount form-control bfh-number" placeholder="%" min=0>
                      </td>
                      <td class="success">
                        <input type="number" ng-model="article.total" id="total"  class="total form-control bfh-number" placeholder="0" value="{{ confirm() | number : 2}}" readonly>
                      </td>
                      <td>
                        <a href ng:click="delete($index)"><i class="fa fa-times delete fa-2x"></i></a>
                      </td>
                    </tr>
                    <tr class="success">
                      <td class="success"></td>
                      <td class="success"></td>
                      <td class="success"></td>
                      <td class="success"></td>
                      <td class="success">{{ NumberOrder() }} Jumlah Pesanan(s)</td>
                      <th class="success" style="text-align:right;">SubTotal : </th>
                      <td class="success" ng-style="SubTotal() >= 1000 && {'font-weight': 'bold'}">Rp. {{ SubTotal() | number:2 }} </td>
                      <td class="success"></td>
                    </tr>
                    <tr class="success">
                      <td class="success"></td>
                      <td class="success"></td>
                      <td class="success"></td>
                      <td class="success"></td>
                      <td class="success"></td>
                      <th class="success" style="text-align:right;">Tax and Services : </th>
                      <td class="success" ng-style="SubTotal() >= 1000 && {'font-weight': 'bold'}">Rp. {{0.15*SubTotal() | number:2 }} </td>
                      <td class="success"></td>
                    </tr>
                    <tr class="success">
                      <td class="success"></td>
                      <td class="success"></td>
                      <td class="success"></td>
                      <td class="success"></td>
                      <td class="success"></td>
                      <th class="success" style="text-align:right;">GrandTotal : </th>
                      <td class="success" ng-style="SubTotal() >= 1000 && {'font-weight': 'bold'}">Rp. {{1.15*SubTotal() | number:2 }} </td>
                      <td class="success"></td>
                    </tr>
                  </tbody>
                </table>
                <form>
                <a href ng:click="tambah();plusbtn='hidden'" ng-class="plusbtn" id="btnplus" class="btn btn-primary" style="background-color:black !important;border:none">Add <i class="fa fa-plus"></i></a>
                <a href ng:click="save();plusbtn=''" class="btn btn-primary" style="background-color:black !important;border:none">Save</a>
                <a href ng:click="print()" class="btn btn-primary pull-right" style="background-color:orange !important;border:none">Print Invoice</a>
              </div>
            </div>
        </div>
    </div>
  </div>
</div>
