<div class='content' style="background-color:white;color:white;">
  <div class="container-fluid">
    <div class="row">

      <!-- REGISTRATION FORM -->
        <div class="text-center" style="padding:50px 0">
        <div class="logo">are you the <br> OWNER?</div>
        <!-- Main Form -->
        <div class="login-form-1">
          <form id="register-form" class="text-left">
            <div class="login-form-main-message"></div>
            <div class="main-login-form">
              <div class="login-group">
                <div class="form-group">
                  <label for="reg_username" class="sr-only">Email address</label>
                  <input type="text" ng-model="form.username" class="form-control" id="reg_username" name="reg_username" placeholder="Username">
                </div>
                <div class="form-group">
                  <label for="reg_password" class="sr-only">Password</label>
                  <input type="password" ng-model="form.password" class="form-control" id="reg_password" name="reg_password" placeholder="Password">
                </div>
                <div class="form-group">
                  <label for="reg_role" class="sr-only">Role</label>
                  <input type="text" ng-model="form.role" class="form-control" id="reg_password_confirm" name="reg_role" placeholder="Role">
                </div>
                <div class="form-group">
                  <label for="reg_email" class="sr-only">Permission</label>
                  <input type="text" ng-model="form.permission" class="form-control" id="reg_email" name="reg_email" placeholder="Permission">
                </div>
                <!-- <div class="form-group">
                  <label for="reg_fullname" class="sr-only">Full Name</label>
                  <input type="text" ng-model="form.fullname" class="form-control" id="reg_fullname" name="reg_fullname" placeholder="full name">
                </div> -->
                <!-- <div class="form-group login-group-checkbox">
                  <input type="radio" ng-model="form.gender" class="" name="reg_gender" id="male" placeholder="username">
                  <label for="male">male</label>

                  <input type="radio" ng-model="form.username" class="" name="reg_gender" id="female" placeholder="username">
                  <label for="female">female</label>
                </div> -->

                <!-- <div class="form-group login-group-checkbox">
                  <input type="checkbox" class="" id="reg_agree" name="reg_agree">
                  <label for="reg_agree">I Agree With <a href="#">terms</a></label>
                </div> -->
              </div>
              <button type="submit" class="login-button" ng-click="registeruser()"><i class="fa fa-chevron-right"></i></button>
            </div>
            <div class="etc-login-form">
              <p>Already have an account? <a href="#/login"><span style="color:orange !important;">login here</span></a></p>
            </div>
          </form>
        </div>
        <!-- end:Main Form -->
        </div>

          <!-- FORGOT PASSWORD FORM -->
          <div class="text-center" style="padding-top:250px; padding-bottom:150px;">
          <div class="logo">forgot password</div>
          <!-- Main Form -->
          <div class="login-form-1">
            <form id="forgot-password-form" class="text-left">
              <div class="etc-login-form">
                <p>When you fill in your registered email address, you will be sent instructions on how to reset your password.</p>
              </div>
              <div class="login-form-main-message"></div>
              <div class="main-login-form">
                <div class="login-group">
                  <div class="form-group">
                    <label for="fp_email" class="sr-only">Email address</label>
                    <input type="text" class="form-control" id="fp_email" name="fp_email" placeholder="email address">
                  </div>
                </div>
                <button type="submit" class="login-button" onclick="myFunction()"><i class="fa fa-chevron-right"></i></button>
                <script type="text/javascript">
                  function myFunction(){
                    swal({
                      title: "Ah ..!!",
                      text: "you still doesn't support this feature, upgrade ? please write something about us",
                      type: "input",
                      showCancelButton: true,
                      closeOnConfirm: false,
                      animation: "slide-from-top",
                      inputPlaceholder: "Write something" },
                      function(inputValue){
                        if (inputValue === false) return false;

                        if (inputValue === "") {
                            swal.showInputError("You need to write something!");     return false
                          }
                            swal("haha!", "You wrote: " + inputValue, "success");
                      });
                  }
                </script>
              </div>
              <div class="etc-login-form">
                <p>already have an account? <a href="#/login"><span style="color:orange !important;">login here</span></a></p>
                <p>new user? <a href="#/register"><span style="color:orange !important;">create new account</span></a></p>
              </div>
            </form>
          </div>
          <!-- end:Main Form -->

    </div>
    </div>
  </div>
</div>
