<div class='content'>
  <div class="container-fluid">
    <h1>Setting</h1>
    <div class="row" style="padding-top:50px">
      <div class="col-md-12">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Tax</th>
                    <th>Service</th>
                    <th>Pajak Pendapatan</th>
                </tr>
            </thead>
            <tbody>
              <tr ng-repeat="setting in settings | filter:query" class="his-data">
                <th>
                  <input type="number" ng-model="setting.tax" class="form-control bfh-number tax" value="{{setting.tax}}">
                </th>
                <td>
                  <input type="number" ng-model="setting.services"class="form-control" value="{{setting.services}}">
                </td>
                <td>
                  <input type="number" ng-model="setting.pajakPendapatan" class="form-control bfh-number" value="{{setting.pajakPendapatan}}">
                </td>
              </tr>
            </tbody>
        </table>
        <a href ng:click="savesetting();" class="btn btn-primary" style="background-color:black !important;border:none">Save</a>
      </div>
      <div class="col-md-12">
        <h3>Changes History</h3>
        <a href ng:click="showHistory()" class="btn btn-primary" style="background-color:black !important;border:none">Show History</a>
          <table class="table table-striped table-hover">
              <thead class="hidden">
                  <tr>
                      <th>Id</th>
                      <th>Nama</th>
                      <th>Perubahan</th>
                      <th>Status</th>
                      <th>Row</th>
                      <th>Date</th>
                  </tr>
              </thead>
              <tbody class="hidden">
                <tr ng-repeat="his in history | filter:query" class="his-data">
                  <th>
                    <span ng-model="his.id" class="form-control bfh-number">
                      {{his.id}}
                    </span>
                  </th>
                  <td>
                    <span ng-model="his.nama"class="form-control">
                      {{his.nama}}
                    </span>
                  </td>
                  <td>
                    <span ng-model="his.perubahan" class="form-control bfh-number">
                      {{his.perubahan}}
                    </span>
                  </td>
                  <td>
                    <span ng-model="his.status" class="form-control bfh-number">
                      {{his.status}}
                    </span>
                  </td>
                  <td>
                    <span ng-model="his.row" class="form-control bfh-number">
                      {{his.row}}
                    </span>
                  </td>
                  <td>
                    <span ng-model="his.date" class="form-control bfh-number">
                      {{his.date}}
                    </span>
                  </td>
                </tr>
              </tbody>
          </table>
      </div>
    </div>
  </div>
</div>
